In [1]:
from collections import deque
from pandas import DataFrame as df
from pandas import Series
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier

import datetime as dt
import numpy as np
import pandas as pd

myprices = deque([206.56, 205.34, 205.03, 204.89, 204.73, 205.25, 205.525,
                  203.23, 203.03, 202.7], maxlen=10)

mytimes = deque([dt.datetime(2015, 1, 2, 14, 58, 0),
                 dt.datetime(2015, 1, 2, 15, 58, 0),
                 dt.datetime(2015, 1, 2, 16, 58, 0),
                 dt.datetime(2015, 1, 2, 17, 58, 0),
                 dt.datetime(2015, 1, 2, 18, 58, 0),
                 dt.datetime(2015, 1, 2, 19, 58, 0),
                 dt.datetime(2015, 1, 2, 20, 58, 0),
                 dt.datetime(2015, 1, 5, 14, 58, 0),
                 dt.datetime(2015, 1, 5, 15, 58, 0),
                 dt.datetime(2015, 1, 5, 16, 58, 0)], maxlen=10)

datep_df = df([list(mytimes)]).T
datep_df.columns = ['pdate']
datep_df['cp'] = list(myprices)
datep_df_sorted = datep_df.sort('pdate')
cp = list(datep_df_sorted['cp']) # current price

hc = 2
x1 = hc*[cp[0]]
x1.extend(cp[:-hc])
datep_df['x1'] = x1

x2 = 2*hc*[cp[0]]
x2.extend(cp[:-(2*hc)])
datep_df['x2'] = x2

x3 = 3*hc*[cp[0]]
x3.extend(cp[:-(3*hc)])
datep_df['x3'] = x3

leadx = cp[hc:]
leadx.extend(hc*[cp[-1]])
datep_df['lead'] = leadx
datep_df['n1g'] = (datep_df['lead']/datep_df['cp'] - np.ones(len(cp))) > 0

datep_df

                pdate       cp       x1      x2      x3     lead    n1g
0 2015-01-02 14:58:00  206.560  206.560  206.56  206.56  205.030  False
1 2015-01-02 15:58:00  205.340  206.560  206.56  206.56  204.890  False
2 2015-01-02 16:58:00  205.030  206.560  206.56  206.56  204.730  False
3 2015-01-02 17:58:00  204.890  205.340  206.56  206.56  205.250   True
4 2015-01-02 18:58:00  204.730  205.030  206.56  206.56  205.525   True
5 2015-01-02 19:58:00  205.250  204.890  205.34  206.56  203.230  False
6 2015-01-02 20:58:00  205.525  204.730  205.03  206.56  203.030  False
7 2015-01-05 14:58:00  203.230  205.250  204.89  205.34  202.700  False
8 2015-01-05 15:58:00  203.030  205.525  204.73  205.03  202.700  False
9 2015-01-05 16:58:00  202.700  203.230  205.25  204.89  202.700  False

In [2]:
datep_df['x1'] = datep_df['cp']/datep_df['x1'] - np.ones(len(cp))
datep_df['x2'] = datep_df['cp']/datep_df['x2'] - np.ones(len(cp))
datep_df['x3'] = datep_df['cp']/datep_df['x3'] - np.ones(len(cp))

datep_df

                pdate       cp        x1        x2        x3     lead    n1g
0 2015-01-02 14:58:00  206.560  0.000000  0.000000  0.000000  205.030  False
1 2015-01-02 15:58:00  205.340 -0.005906 -0.005906 -0.005906  204.890  False
2 2015-01-02 16:58:00  205.030 -0.007407 -0.007407 -0.007407  204.730  False
3 2015-01-02 17:58:00  204.890 -0.002191 -0.008085 -0.008085  205.250   True
4 2015-01-02 18:58:00  204.730 -0.001463 -0.008859 -0.008859  205.525   True
5 2015-01-02 19:58:00  205.250  0.001757 -0.000438 -0.006342  203.230  False
6 2015-01-02 20:58:00  205.525  0.003883  0.002414 -0.005011  203.030  False
7 2015-01-05 14:58:00  203.230 -0.009842 -0.008102 -0.010276  202.700  False
8 2015-01-05 15:58:00  203.030 -0.012140 -0.008304 -0.009755  202.700  False
9 2015-01-05 16:58:00  202.700 -0.002608 -0.012424 -0.010689  202.700  False

In [3]:
knn = KNeighborsClassifier(n_neighbors=len(cp)-1, weights='distance')
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=9, p=2, weights='distance')

In [4]:
features = datep_df.reindex(index=datep_df.index[0:-1], columns=['x1','x2','x3'])
labels = datep_df['n1g'][0:-1]
knn.fit(features, labels)

oos = datep_df.reindex(index=[datep_df.index[-1]], columns=['x1','x2','x3'])
pred = knn.predict_proba(oos)[0,1]
pred

0.40127898593140071